/* Styling to space out buttons and <img>s */


button,
div,
form,
input {
    margin: 10px;
}

button,
input {
    background-color: aquamarine;
}


#character-view {
    float: left;
    margin: 10px;
}